/* Back to top button */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 30px;
    bottom: 30px;
    z-index: 996;
    background: none !important;
    width: auto;
    height: auto;
    border-radius: 0;
    transition: all 0.4s;
}

.back-to-top i {
    display: none !important;
}

.back-to-top::before {
    content: '';
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-top: 10px solid white;
    border-left: 10px solid white;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    /* Añade el punto de origen de la transformación para centrarlo */
    transform-origin: center center;
}

.back-to-top:hover::before {
    transform: rotate(45deg) scale(1.1);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}