#footer {
  position: static;
  width: 100%;
/*   background: #131313; */
  padding: 30px 0;
  color: #8b949e;
  font-size: 14px;
  text-align: center;
}

#footer .copyright,
#footer .credits {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
}