  @media (min-width: 1200px) {
    #header, #footer {
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    #main {
      transition: margin-left 0.3s ease;
    }

    /* Estado oculto */
    .header-hidden, .footer-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .zoom-button {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoom-button:hover,
.zoom-button:focus {
  transform: scale(1.2);
}
.zoom-button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 120px;
  right: 15px;
  z-index: 999;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.whatsapp-float img {
  width: 35px;
  height: 35px;
}
.whatsapp-float:hover,
.whatsapp-float:focus {
  transform: scale(1.2);
}
.whatsapp-float:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

.back-to-top {
  transition: transform 0.3s ease;
}
.back-to-top:hover,
.back-to-top:focus {
  transform: scale(1.2);
}
.back-to-top:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
}
#hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: none;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
